name: Build Frontend Image

on:
  push:
    branches: [ "preview", "master" ]
    paths:
      - "apps/web/**"
      - ".github/workflows/build-frontend.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-frontend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # 1. Přidáme QEMU (emulátor pro sestavení jiné architektury)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # 2. Přidáme Docker Buildx (nástroj pro multi-platform build)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./apps/web/Dockerfile.web
          # 3. Zde specifikujeme obě architektury
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
