name: Build Backend (Turbo)

on:
  push:
    branches: [ "preview", "master" ]
    paths:
      # ZMĚNA 1: Sledujeme správnou složku apps/api
      - "apps/api/**"
      - ".github/workflows/build-backend.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-backend

jobs:
  build-and-push:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          # ZMĚNA 2: Build kontext je kořen projektu (stejně jako u frontendu)
          context: .
          # ZMĚNA 3: Cesta k Dockerfile je v apps/api
          file: ./apps/api/Dockerfile.api
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
